ion-toggle{
   zoom: 1.5;
}
ion-content{
    --background: var(--ion-color-gray);
}
ion-item{
    --highlight-color-valid: var(--ion-color-primary);
    --ion-background-color: var(--ion-background-contrast);
}

ion-button{
    height: 45px;
}
span{
    display: inline;
    width: 50%;
}