<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" ></ion-back-button>
    </ion-buttons>
    <ion-title color="secondary" class="ion-text-center"><strong>Change Password</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="onSubmit()" >

    <ion-item class="ion-margin-top"  color="dark">
      <ion-label color="primary">New Password</ion-label>
      <ion-input color="primary" type="{{showPass}}" [(ngModel)]="data.password" name="login" required pattern="{{ data.confirm }}"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top" color="dark">
      <ion-label color="primary">Confirm Password</ion-label>
      <ion-input color="primary" type="{{showPass}}" [(ngModel)]="data.confirm" name="password" required pattern="{{ data.password }}"></ion-input>
    </ion-item>

    <ion-item lines="full"  class="ion-margin-top"  color="dark">
      <ion-label color="primary">Show Password</ion-label>
      <ion-toggle [(ngModel)]="data.showPass" slot="end" [ngModelOptions]="{standalone: true}" class="ion-margin-end ion-padding-end"></ion-toggle>
    </ion-item>

    <ion-button expand="full" color="tertiary" class="ion-margin-top" type="submit" [disabled]="form.invalid" > Change Password </ion-button>
  </form>
</ion-content>
