<ion-content class="signup-wrapper">
  <div class="logo"></div>
  <div class="login-inputs-wrapper">
    <h3 class="page-header">Forgot Password</h3>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" >
      <div class="ion-margin">
        <ion-label color="dark">Enter Username or Email Address:</ion-label>
      </div>
      <ion-item >
        <ion-input color="medium" type="data.email" placeholder="Username or Email" [(ngModel)]="data.email" name="email" required></ion-input>
      </ion-item>

      <ion-button expand="full" color="tertiary" class="ion-margin-top" type="submit" [disabled]="onFetch || form.invalid " >Get New Password</ion-button>

    </form>
    
    <div class="ion-margin-top" >
      <a routerLink="/auth/login"><span class="ion-text-center auth-link">Login</span></a>
      <a routerLink="/home"><span class="ion-text-center auth-link">Return to Blogs</span></a>
    </div>
  </div>
</ion-content>
