ion-item{
    border-bottom: 1px solid var(--ion-color-primary);
    --ion-background-color: var(--ion-background-contrast);
    &.top{
        border-top: 1px solid var(--ion-color-primary);
    }
   
}
